server/config-test
server/logfile
*.swp
*.a
*.c
!create_curve_table.c
create_curve_table
*.h
*.o
*.idx
*.log
*.dvi
*.pdf
*.scn
*.toc
*.csv
*.ods
*.txt
*.[0-9]*
*.mpx
*.ps
*~
worksheets/coversheet.tex
315.tex
315.txt
server/server
server/*.tex
copy-to-archive/
worksheets/target-prereqs
worksheets.html
lectures/tfm_files
